<!DOCTYPE html>
<html>
	<head><title>ADMIN</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	</head>
	
	<body><h3 id="user_name">Hello Admin</h3>
		<div id="input_div">
			<input type="text" id="input">
			<input type="button" id="submit_btn" value="OK">
		</div>
		<div id="playerStatus">
		
		</div>
		<div id= "buttonDiv" hidden="true">
			<input type="button" id="startProcess" value="Start!!!">
		</div>
		<div id="teams">
			
		</div>
	</body>
	<script>
	var socket = io();
	
	$('#submit_btn').click(function(){
		socket.emit('adminConnected',$('#input').val());
		$('#input_div').hide();
		$('#user_name').html('Hello admin, ' + $('#input').val() + '<br><p id="adminStatusMsg">List of users connected:</p>');
		$('#buttonDiv').show();
	});
	
	$('#startProcess').click(function(){
		socket.emit('startProcess');
	});
	
	socket.on('playerList',function(data){
		html = '<ul>';
		data.forEach(function(item){
			if(item.status == true){
				html += '<li style="color:green;">' + '<img src="ready.png" height="20" width="20">' +  item.nick + '</li>';
			} else{
				html += '<li style="color:red;">' + '<img src="not_ready.png" height="20" width="20">' +  item.nick + '</li>';
			}
		});
		html += '</ul>';
		$('#playerStatus').html(html);
	});
	
	socket.on('preparingMessage',function(data){
		$('#teams').html('Action in ' + data);
	});
	
	socket.on('teamsRandom',function(data){
		html = '';
		html += '<table border="1px"><th>Echipa 1</th><th>Echipa 2</th>';
		for(var i=0;i<data[0].length;i++){
			html += '<tr><td>';
			html += data[0][i] + '</td><td>' + data[1][i] + '</td>';
			html += '</tr>';
		}
		html += '</table>';
		$('#teams').html(html);
	});
	</script>
</html>